@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: "Poppins",sans-serif;
}

a,a:hover{
    text-decoration: none;
}
.top-bar{

    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #fff;
}
.top-bar span{
    color: #cb2424;
}
.top-bar ul{
    list-style: none;
    display: flex;
}
.top-bar li{
    margin: 0px 5px;
}
.top-bar a{
    color : #cb2424; 
}
.top-bar a:hover{
    color: #810a0a;
}
nav{
    background: #cb2424;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}
nav a{
    color: #fff
}
nav a:hover{
    color: #810a0a;
}
form {
    width: 40%;
    padding: 20px 40px 40px 60px;
    border-radius: 8px;
    margin: 30px auto;
    float : center;
    border: 5px solid #810a0a;
    box-shadow: 4px 2px 3px 1px darkgray;
}
input[type = "file"]{
    display:none;
}

label[for="uploadBtn"] {
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: #cb2424;
    text-align: center;
    padding: 10px 10px;
    font-size: 18px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    border-radius: 3px;
}

label[for="uploadBtn"]  i{
    font-size: 20px;
    margin-right: 10px;
}

label[for="uploadBtn"] :active{
    margin-bottom: 10px;
    transform: scale(0.9);
}
label[for="uploadBtn"]:hover {  
    background-color: #810a0a;
    box-shadow: 1px 4px 4px darkgray;
}
input[type=text] {
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding: 12px 12px 12px 12px;
    margin-bottom:8px ; 
    transition-duration: 0.2s;
}

input[type=text]:focus {
    border: 2px solid teal;
    box-shadow: 1px 2px 3px teal;
}

input[type=text]:hover {
    border: 2px solid teal;
}


.generalCont {
    width: 80%;
    padding: 20px 40px 40px 40px;
    border-radius: 8px;
    border: 1px solid teal;
    margin: 50px auto;
    float : center;
}

.creditsCont {
    width: 100%;
    padding: 5px 0px 20px 0px;
    border: 1px solid teal;
    margin-top: 60px;
    left : 0px;
    bottom : 0px;
    float : center;
    background-color: teal;
}


.button1{
    background-color: #cb2424;
    padding: 12px;
    width : 30%;
    color : white;
    border-width: 0;
    border-radius: 4px;
    margin : auto;
    display: block;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button1:hover {
    background-color: #810a0a;
    box-shadow: 1px 4px 4px darkgray;
}

.container {
    display: block;
    position: relative;
    padding-left:30px;
    margin-bottom: 12px;
    width: 40%;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}
  

.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #810a0a;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
}


h1{
    color : #cb2424;
    font-weight:bold;
}

.logo{
    flex:1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logo a:hover{
    color: #810a0a;
}
.logo2 img{
    width: 200px;

}
.logo2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    width:120px;
    margin-right: 10px;
}
.menu{
    display: flex;
    align-items: center;
    list-style:none ;
}
.menu li{
    padding: 15px 10px;
    font-size:16px;
}
.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width:600px){
    nav{
        display:block;
        position:relative;
        padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu.active, .toggle{
        display : block;
    }
    .toggle{
        position: absolute;
        top: 15px;
        right: 10px;
    }
}
input[type = "file"]{
    display:none;
}

label li{
    font-size: 20px;
    margin-right: 10px;
}
label:active{
    transform: scale(0.9);
}
.center {
    text-align: center;

}

.cover{
    width: 90%;
    height: 400px;
    margin: 50px auto;
    display: flex;
}

.box{
    margin: 10px;;
    width: 800px;
    height: 420px;
    box-shadow:-1px 0 10px darkgray ;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #810a0a;
    /*background-color: black;*/
}
.box img{
   width: 300px;
   margin: 0 auto;
   height: 200px; 
   display: block;
   align-items: center;
}

.box:hover {
    box-shadow: 6px 4px 4px darkgray;
    border: 5px solid #111;

}


